@import url('https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css');

 input.ng-invalid.ng-touched{
  border: rgb(178, 47, 47) 2px solid;
}




h1{
    font-size: 30px;  
    display: inline;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease ,  box-shadow 0.20 ease ;
    text-align: center;
}



.container{
  border: 2px solid rgb(59, 53, 53);
  width: 20cm ;
  height: 10cm ;
  background-color:rgb(240, 246, 250);
  ;
}
.container-1{
  border: black 2px ;
  width: 2cm auto;
  height: 5cmm ;
  padding: 20px;
  margin: auto;
  height: 50rem;
  width: 560rem;
  position: absolute;
  align-self: center;
  
}
.container-input{
  margin: 10px;
  padding: auto;
}

