<form [formGroup]="MyReactiveForm"  >
<div class="container">
<div class="form-group">
  <div class="row">
    <div class="col-xs-12col-sm-10col-md-8col-sm-offset-1col-md-offset-2">
     
   
      <h1>RESET YOUR PASSWORD</h1>
    
    <div class="container-1">
       <label style="font-size: 20px">Enter email adress!</label><br>
           <br>
           <div class="container-input">
           <input type="email"  id="typeEmail"  class="form-control" 
           placeholder="example@gmail.com"  style="width:400px; background-color:rgb(218, 209, 186); " 
           formControlName ="email" /> </div><br>
           <button (click)="onSubmit()" class="btn btn-primary"  [disabled]="MyReactiveForm.invalid"
           >SUBMIT</button> &nbsp;
           
            
            <br>   I remember my password ! <a href=""> back to login</a> <br>

   
           <span class="help-block"
           *ngIf="!MyReactiveForm.get('email').valid && MyReactiveForm.get('email').touched ">invalid email adress!</span>
           
          
</div>


   

       
         


 
  </div>
  </div>
  </div></div>
  
   </form>
 
    