input.ng-invalid.ng-touched{
    border: rgb(178, 47, 47) 2px solid;
  }
  .container-newpassword{
  
    margin: 10px;
    padding: auto;
 
 position: absolute;
  }
  .container-3{
    border: 2px solid rgb(59, 53, 53);
    width:20cm ;
    height: 10cm ;
    background-color:rgb(240, 246, 250);
    ;
   margin: 100px;
   padding: 50px;
   align-self: center;
  

   
  }
  label{
  font-size: larger;
}

h1{
  font-size: 30px;  
  display: inline;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease ,  box-shadow 0.20 ease ;
  text-align: center;
}


