<form [formGroup]="MyForm" #myform = "ngForm" (ngSubmit)="onSubmit()">

<div class="container-3">


<div class="form-group">

        
    <h1>RESET YOUR PASSWORD</h1><br>
    <div class="container-newpassword">
    <label>New Password</label> 
    <br>
    <input type="password" id="typePassword" class="form-control" placeholder="enter password"  (change)="onPasswordChange()" style="width:400px; background-color:rgb(218, 209, 186);"  formControlName ="password"  /> <br>
   
    <input type="password" id="typePassword2" class="form-control"
     placeholder="confirm password" style="width:400px; background-color:rgb(218, 209, 186);" (change)="onPasswordChange()" formControlName="confirm_password"/>
     <span class="help-block"
           *ngIf="!MyForm.get('password').valid && MyForm.get('password').touched ">Enter new password!</span>
           <span class="help-block"
           *ngIf="!MyForm.get('password').valid&&!MyForm.get('password').minLength"> min length  6! </span>
           <span class="help-block"
           *ngIf="!MyForm.get('confirm_password').valid && MyForm.get('confirm_password').touched  "> confirm password!</span>
           
           <span class="help-block" *ngIf="confirm_password.hasError('mismatch')"> not matched.</span>

           
     <br> 
     
     <button type="submit" class="btn btn-primary" [disabled]="MyForm.invalid">Reset Password</button>
     </div>
    
    <!---- <span>password didn't matched! </span> <br>-->
    

  <!---- <span>password changed succefully!!</span> -->



</div>


</div>
</form>

